<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block pagetitle %} {{ 'app.name'|trans }} {% endblock %}</title>

    <link href="{{ asset("./bundles/devbierescommon/lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("./bundles/devbierescommon/lib/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
    {% block app_css %}
    {% endblock %}

  </head>
  <body>

    <div class="container" >
       {% block app_content %}
       {% endblock %}
    </div>
   
  </body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset("./bundles/devbierescommon/lib/jquery/jquery-2.1.1.min.js") }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset("./bundles/devbierescommon/lib/bootstrap/js/bootstrap.min.js") }}"></script>
    {% block app_js %}
    {% endblock %}

</html>

